.cabeçalho_menu-hamburguer{
    background-image: url(../imagem/Menu.svg.png);
    width: 24px;
    height: 24px;
    background
    display: inline-block;
}
    background-color:var(--branco);
    .div-1{
        display:flex
        align-item:center 
    }
    .cabeçalho_menu-hamburguer{
        background-repeat: no-repeat;
        background-position: center;
    }
    .cabeçalho{
        background
        display:flex;
        justify-content:space betwen;
    }
    h1{
        display: none;
    }
    @media screen and (min-width:1024px) {
        h1{display:block;
        font-size: 30px;
        }
    }